header{
    min-height: 100vh;
    background-color: #010225;
    position: relative;
    
    
    
    
}

.menu{
    background-color: #0C0D2E;
    z-index: 2;
}

.navbar-nav{
    
    .nav-link{
        color: #fff;
    }
}


.navbar-expand-lg{
    .navbar-collapse{
        gap: 28px;
        justify-content: flex-end;
    }
}

.Buy{
    padding-top: 12px;
    text-align: center;
    height: 48px;
    width: 164px;
    border-radius: 25px;
    border: 2px solid #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

